.futer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  background-color: rgb(248, 242, 235);
  height: 160px;
  margin-top: 5px;
  margin-left: 5px;
  box-shadow: 2px -1px 2px rgb(194, 191, 191);
}
.el {
  display: flex;
  flex-wrap: wrap;
  height: 50px;


  align-items: center;
}
.numb {
  display: flex;
  margin-left: 60px;
  margin-right: 60px;
  text-align: center;
}
